$primary-color: rgb(216, 125, 74);
$primary-color-dark: rgb(16, 16, 16);
$primary-color-light: rgb(241, 241, 241);
$secondary-color: rgb(251, 175, 133);
$secondary-color-dark: rgb(0, 0, 0);
$secondary-color-light: rgb(250, 250, 250);
$color-white: rgb(250, 250, 250);
$spacing-unit: 16px;
$small-spacing: $spacing-unit / 2;
$large-spacing: $spacing-unit * 2;
$font-size-56: 56px;
$font-size-40: 40px;
$font-size-36: 36px;

$font-size-32: 32px;
$font-size-28: 28px;
$font-size-24: 24px;
$font-size-18: 18px;
$font-size-body: 15px;
$line-height-58: 58px;
$line-height-44: 44px;
$line-height-auto: auto;
$line-height-25: 25px;
$letter-space-2: 2px;
$letter-space-143: 1.43px;
$letter-space-114: 1.14px;
$letter-space-171: 1.71px;
$letter-space-129: 1.29px;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;
$size-14: 14px;
$size-13: 13px;
$size-12: 12px;
$size-16: 16px;
$size-36: 36px;
$size-2: 2rem;

$text-overline: overline;
$overflow-hidden: hidden;
$position-rel: relative;
$position-abs: absolute;
$text-uppercase: uppercase;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
